binds {
    Mod+Ctrl+Shift+4 { spawn "dms" "screenshot" "--no-clipboard"; }
    Mod+Shift+4 hotkey-overlay-title="Screenshot: Region" { spawn "dms" "screenshot" "--no-file"; }
    Mod+Shift+C hotkey-overlay-title="Clipboard: Toggle" { spawn "dms" "ipc" "call" "clipboard" "toggle"; }
    Mod+Shift+space hotkey-overlay-title="Spotlight Bar: Toggle" { spawn "dms" "ipc" "call" "spotlight-bar" "toggle"; }
    Mod+space hotkey-overlay-title="Default Launcher: Toggle" { spawn "dms" "ipc" "call" "spotlight" "toggle"; }
    Mod+T hotkey-overlay-title="Open a Terminal: ghostty" { spawn "ghostty"; }
}
